

<ul class = "books">
<li *ngFor = "let book of books">
  <span class = "badge">{{book.id}}</span> {{book.name}} 
  
</li>
<li *ngFor = "let author of authors">
    <span class = "badge">{{author.id}}</span> {{author.name}} 
</li>
<p></p>
</ul>
<form>
  <input [(ngModel)] = "id" name = "id" placeholder = "id">
  <input [(ngModel)] = "bookTitle" placeholder = "book" name = "bookInput"> 
  <input [(ngModel)] = "authorTitle" placeholder = "author" name = "authorInput">
  <input type = "submit" (click) = "update()">
</form>
